.partnerslist {
	@include reset-list();
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: rem-calc( 16 );
	gap: rem-calc( 16 );

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: rem-calc( 130 );
		margin-bottom: rem-calc( 16 );

		&--larger {
			max-width: rem-calc( 250 );
		}

		img {
			object-fit: contain;
			margin: auto auto;
		}
	}

	&__href {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@include breakpoint( medium ) {
		flex-flow: row wrap;

		&__item {

			max-width: rem-calc( 160 );
			margin: rem-calc( 0 30 30 30 );

			&--larger {
				max-width: rem-calc( 200 );
			}
		}
	}
}