<h2 class="section__title">
  <span class="blue"
    ><span class="pink">Amplion Argentum</span> Award Winners – 8th annual</span
  >
</h2>
<div class="programme-teaser">
  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title zero-bottom-margin">
      <span class="programme-teaser__performer">
        Sabor-Life in Rhythm (ES)
      </span>
      <br />
      THE TASTE OF LIFE IS IN RHYTHM
    </h4>
    <p class="programme-teaser__description">
      A music and dance cabaret full of tap and unbridled energy
    </p>
  </div>

  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer"> Der Šenster Gob (CZ) </span
      ><br />CONCERT
    </h4>
    <p class="programme-teaser__description">
      Gypsy, klezmer & world music band
    </p>
  </div>

  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer">
        Adam Blaško & Daily SME team (SK) </span
      ><br />
      LITTLE FRIDAY – bizarre political quiz
    </h4>
    <!-- <p class="programme-teaser__description">
      Premiere of a reportage film from the V4 countries on the rapprochement of
      the V4 and the UA expatriates
    </p> -->
  </div>

  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer"> TyMyJán (SK) </span><br />
      Winner of the 6th SKETCH UP competition
    </h4>
    <p class="programme-teaser__description"></p>
  </div>
</div>
<h2 class="section__title blue">Special award</h2>
<div class="programme-teaser">
  <div class="programme-teaser__item">
    <h4
      class="programme-teaser__title programme-teaser__push_right zero-bottom-margin"
    >
      <span class="programme-teaser__performer"> Ennio Marchetto (IT) </span
      ><br />
      LIVING PAPER CARTOON
    </h4>
    <p
      class="programme-teaser__description programme-teaser__push_right"
      style="margin-top: 25px"
    >
      A cabaret one-man show parodying world artists
    </p>
  </div>
</div>
